/* hover class */

a:hover {
    text-decoration: none;
}

ul>a>li:hover {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: #06192F;
    color: #faf6f7;
}

.card-body>a>h4:hover {
    color: #faf6f7;
}

.card-body-1>a>h4:hover {
    color: #faf6f7;
}

.card-body-2>a>h4:hover {
    color: #faf6f7;
}

.card-body-3>a>h4:hover {
    color: #faf6f7;
}

.btn-outline-primary:hover {
    background-color: #091E40!important;
    color: #faf6f7!important;
}

.page-link:hover {
    background-color: rgba(9, 30, 64, .7);
    color: #faf6f7;
}


/* other class */

a,
.clcc {
    color: #faf6f7a6;
}

.active {
    background-color: #06192F;
    color: #faf6f7;
}

.sidebar,
.card-body {
    background-color: #091E40!important;
}

.card-body-1 {
    background-color: steelblue;
}

.card-body-2 {
    background-color: slateblue;
}

.card-body-3 {
    background-color: slategray;
}

.btn-primary {
    background-color: #091E40!important;
    border: none;
    color: #faf6f7!important;
}

.btn-outline-primary {
    border-color: #091E40!important;
    color: #000;
}

.btn-primary.focus,
.btn-primary:focus {
    background-color: #091E40!important;
    border-color: #091E40!important;
    box-shadow: 0 0 0 0.2rem rgba(9, 30, 64, .5)!important;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    background-color: #091E40!important;
    border-color: #091E40!important;
    color: #faf6f7;
    box-shadow: 0 0 0 0.2rem rgba(9, 30, 64, .5)!important;
}

.page-item.active .page-link {
    color: #faf6f7;
    background-color: #091E40!important;
    border-color: #091E40!important;
}

.page-link:focus {
    box-shadow: none!important;
}

.badge-light {
    background-color: #faf6f7a6!important;
}

.card-title {
    color: #faf6f7a6;
}

.badge {
    font-size: 80%!important;
}

.section-padding-100 {
    padding-top: 331px;
    padding-bottom: 332px;
}

.section-padding-login {
    padding-top: 170px;
    padding-bottom: 170px;
}

.login-bg {
    background-color: #faf6f7;
}